# Telegram Bot
TELEGRAM_API_KEY=12345:ABCDEFG
LOG_LEVEL=INFO

# Telegram ID владельца (для запуска seed_events.py -> 'app.infra.postgres.seed_events')
# Узнать можно у @userinfobot, обязательно сначала напиши боту /start
TELEGRAM_ID=12345

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-change-me-in-production-1234567890

# PostgreSQL (Docker Container)
DB_NAME=DB_NAME
DB_USER=USER_NAME
DB_PASSWORD=DB_PASSWORD
DB_HOST=127.0.0.1
# PostgreSQL (Docker Container)
# Порт 5444 — проброс из docker-compose (в контейнере Postgres слушает стандартный 5432)
DB_PORT=5444

# API
API_TOKEN_LIFETIME_MINUTES=30