# Telegram Bot
TELEGRAM_API_KEY=12345:ABCDEFG
LOG_LEVEL=INFO

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-change-me-in-production-1234567890

# PostgreSQL (Docker Container)
DB_NAME=DB_NAME
DB_USER=USER_NAME
DB_PASSWORD=DB_PASSWORD
DB_HOST=127.0.0.1
DB_PORT=5444