# Кэш Python и файлы компиляции
**/__pycache__/
*.pyc

# Секреты и локальная конфигурация (Фактор III)
.env

# Настройки сред разработки (IDE) и редакторов
.vscode/
.idea/

# Системный мусор разных операционных систем (Windows / macOS)
Thumbs.db
.DS_Store